<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- File target -->
		<target name="logfile" xsi:type="File" fileName="C:\Users\yash.l\source\repos\Yash-Lathiya\Demo\Dot Net Core\5_Logging\Logging\Logging\Files\TextFile.txt" />

		<!-- Console target -->
		<target name="logconsole" xsi:type="Console" />

		<!-- ColoredConsole target -->
		<target xsi:type="ColoredConsole"
                name="coloredConsole"
                layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring}">
			<!-- Highlight specific rows with different background and foreground colors -->
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" backgroundColor="Black" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White" backgroundColor="Black" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="Black" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="Black" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
		</target>
	</targets>

	<rules>
		<!-- Log messages with level Info and above to console -->
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<!-- Log messages with level Debug and above to file -->
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<!-- Log messages with level Debug and above to colored console -->
		<logger name="*" minlevel="Debug" writeTo="coloredConsole" />
	</rules>
</nlog>
