body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}
.root {
  display: flex;
}
.sidebar {
  width: 200px;
  padding: 20px;
  flex: left;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar div {
  margin-top: 5px;
}
.container {
  flex: right;
  padding: 20px;
}
.left-right {
  display: flex;
  background-color: antiquewhite;
  border-radius: 10px;
  margin: 10px;
}
.left {
  flex: left;
  margin: 20px;
  width: 150px;
  padding: 5px;
}
.right {
  flex: right;
  margin: 20px;
}

/* select box */
.fav-team {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.fav-team img {
  width: 60px;
  height: 50px;
}

.wMax {
  width: 600px;
}

.btn {
  margin: 15px;
}

/* check box styling */
.low.dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: gray;
}
j .normal.dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: green;
}

.urgent.dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: orange;
}

.high.dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: red;
}

/* registration btn in validation */

#registrationBtn {
  margin-left: 250px;
}

.danger {
  color: red;
}
